* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  height: 60px;
  background-color: #333;
}
/* Toggle Theme */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 70px;
  height: 33px;
  left: 90vw;
  top: 10px;
  border: 2px solid #d9d9d9;
  outline: none;
  border-radius: 30px;
  transition: 0.3s;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50%;
  transition: 0.3s ease;
  z-index: 3;
}
input[type="checkbox"]:checked::before {
  transform: translateX(37px);
  background-color: #fa4505;
}
input[type="checkbox"]:checked {
  border-color: #fa4505;
}
.themes {
  margin-left: 90.5vw;
  margin-top: -18px;
  color: #e1e1e1;
  z-index: 1;
}
.fa-moon {
  margin-right: 16px;
}
/* Default Theme */
.main {
  text-align: center;
  height: 60vh;
}
.main h1 {
  font-size: 5rem;
  color: #333;
  margin-top: 40vh;
}
/* Dark Theme */
.dark {
  color: #e1e1e1;
  background-color: #000;
}
.dark h1 {
  color: #e1e1e1;
}
